<% if @forecast[:temp] %>
  <p><%="#{@forecast[:city_and_country]} | #{@forecast[:temp]} | #{@forecast[:wind_speed]} | #{@forecast[:forecast_descr]}"%></p>
<% end %>
<br></br>
<div class="embed-responsive embed-responsive-16by9">
  <iframe
    class="embed-responsive-item"
    width="600"
    height="450"
    frameborder="0" style="border:0"
    src=<%="https://www.google.com/maps/embed/v1/view?key=#{ENV.fetch('GOOGLE_MAPS_API_KEY')}&center=#{@coordinates}&zoom=12"%> allowfullscreen>
  </iframe>
</div>
